.container {
    padding:50px 0;
    height:100vh;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    /*배경이미지 고정 시키고 */
}

.container .heroes{
    max-width:700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding:40px 20px;
}
/*disdplay:요소들이 한줄로만 될때 줄바꿈을 시키기위해
flex-wrap 기본속성 no-wrap이 아닌 값을 묶음 처리하겠다는 wrap이라고 입력*/

.container .heroes .hero {
    width:80px;
    height:84px;
    margin:4px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 10px;;
    background-color: #555;
    transform: skewX(-14deg);
    box-sizing: border-box;
    transition: transform 0.1s, background-color 0.6s;
    /*skewX 요소의 기울임 X축 추가*/
    /*border , padding 들어갔을 때 요소크기 커지지 않도록 box-sizing:border-box사용*/
}

.container .heroes .hero:hover {
    background-color: #ff9c00;
    transform: skewX(-14deg) scale(1.3);
    z-index: 1;
}

/*scale만 썻을때는 앞서 적용되었던 skewX가 해제 되므로 앞에 추가로 써줌*/
.container .heroes .hero .image {
    width:140%;
    height:100%;
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
    transform: skewX(14deg) translateX(-16px);
    /*찌그러져 보일수 있어서 상위요소에서 사용한 skewX 기울임을 원래대로 돌리기 위해 사용*/
}

/*.hero:nth-child(1)  조건상 */
/*히어로즈 안 히어로 클래스 가진 요소 중 첫번째 자식 요소 이미지 여야함*/
.container .heroes .hero:nth-child(1) .image { background-image: url("./images/hero1.png"); }
.container .heroes .hero:nth-child(2) .image { background-image: url("./images/hero2.png"); }
.container .heroes .hero:nth-child(3) .image { background-image: url("./images/hero3.png"); }
.container .heroes .hero:nth-child(4) .image { background-image: url("./images/hero4.png"); }
.container .heroes .hero:nth-child(5) .image { background-image: url("./images/hero5.png"); }
.container .heroes .hero:nth-child(6) .image { background-image: url("./images/hero6.png"); }
.container .heroes .hero:nth-child(7) .image { background-image: url("./images/hero7.png"); }
.container .heroes .hero:nth-child(8) .image { background-image: url("./images/hero8.png"); }
.container .heroes .hero:nth-child(9) .image { background-image: url("./images/hero9.png"); }
.container .heroes .hero:nth-child(10) .image { background-image: url("./images/hero10.png"); }
.container .heroes .hero:nth-child(11) .image { background-image: url("./images/hero11.png"); }
.container .heroes .hero:nth-child(12) .image { background-image: url("./images/hero12.png"); }
.container .heroes .hero:nth-child(13) .image { background-image: url("./images/hero13.png"); }
.container .heroes .hero:nth-child(14) .image { background-image: url("./images/hero14.png"); }
.container .heroes .hero:nth-child(15) .image { background-image: url("./images/hero15.png"); }
.container .heroes .hero:nth-child(16) .image { background-image: url("./images/hero16.png"); }
.container .heroes .hero:nth-child(17) .image { background-image: url("./images/hero17.png"); }
.container .heroes .hero:nth-child(18) .image { background-image: url("./images/hero18.png"); }
.container .heroes .hero:nth-child(19) .image { background-image: url("./images/hero19.png"); }
.container .heroes .hero:nth-child(20) .image { background-image: url("./images/hero20.png"); }
.container .heroes .hero:nth-child(21) .image { background-image: url("./images/hero21.png"); }
.container .heroes .hero:nth-child(22) .image { background-image: url("./images/hero22.png"); }
.container .heroes .hero:nth-child(23) .image { background-image: url("./images/hero23.png"); }
.container .heroes .hero:nth-child(24) .image { background-image: url("./images/hero24.png"); }
.container .heroes .hero:nth-child(25) .image { background-image: url("./images/hero25.png"); }
.container .heroes .hero:nth-child(26) .image { background-image: url("./images/hero26.png"); }
.container .heroes .hero:nth-child(27) .image { background-image: url("./images/hero27.png"); }
.container .heroes .hero:nth-child(28) .image { background-image: url("./images/hero28.png"); }
.container .heroes .hero:nth-child(29) .image { background-image: url("./images/hero29.png"); }
.container .heroes .hero:nth-child(30) .image { background-image: url("./images/hero30.png"); }
.container .heroes .hero:nth-child(31) .image { background-image: url("./images/hero31.png"); }
.container .heroes .hero:nth-child(32) .image { background-image: url("./images/hero32.png"); }

.container .logo {
    max-width: 300px;
    margin: 0 auto;
    padding:0 20px;
}

.container .logo img {
    width:100%;
}